.blur::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(235, 235, 240, 0.5);
  width: calc(100% - 224px);
  transition: 1s;
}
