@media screen and (max-width: 768px) {
  .blur::after {
    content: "";
    position: absolute;
    width: calc(100% - 224px);
    left: 0;
    z-index: 1;
    height: 100%;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(235, 235, 240, 0.5);
    transition: 1s width ease;
  }
}
