html {
  font-family: iransans, sans-serif !important;
  overflow: hidden;   
}

/* width */
::-webkit-scrollbar {
  display: none;
}



@font-face {
  font-family: "iransans";
  src: url("../assets/fonts/IRANSansXFaNum-Regular.ttf");
}
